.App {
  text-align: center;
  background-size: cover; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  background: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
  color: white;
}

.nasaContent{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  
}

.photoOfTheDayTitle{
  color: #282c34;
  font-size: 5rem;
}

.subTitle{
  color: #282c34;
  font-size: 3rem;
}

.pText{
  color: #282c34;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 60px;
}

@media(max-width: 500px) {
  .datePicker {
  
  }
}

.footerContainer{
  height: 60px;
  width: 100%;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

