.App {
  text-align: center;
  background-size: cover; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading{
  background: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
  color: white;
}

.nasaContent{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  
}

.photoOfTheDayTitle{
  color: #282c34;
  font-size: 5rem;
}

.subTitle{
  color: #282c34;
  font-size: 3rem;
}

.pText{
  color: #282c34;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 60px;
}

.footerContainer{
  height: 60px;
  width: 100%;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.carousel {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 70rem;
  width: 100%;
}

.carousel__wrap {
  position: relative;
  background-color: #f5f5f5;
}

.carousel__viewport {
  width: 100%;
  overflow: hidden;
}

.carousel__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.carousel__viewport.is-dragging {
  cursor: grabbing;
}

.carousel__container {
  display: flex;
}

.carousel__item {
  position: relative; /* Only needed if the carousel option is set to { loop: true } */
  flex: 0 0 80%; /* Slide width will be 80% */
  background-color: #131313;

  /* Let's add this temporarily just to test the carousel */
  color: #ffffff;
  height: 300px;
}